@use "../../utils/styles/utils.scss" as *;

$colorHtml: #E34F26;
$colorCss: #1572B6;
$colorSass: #CC6699;
$colorTailwind: #06B6D4;
$colorAngular: #DD0031;
$colorNodeJS: #339933;
$colorRedis: #DC382D;
$colorMongoDB: #47A248;

@mixin hoverSkill($color) {
  &:hover {
    @include border(null, 2px solid $color !important);
    @include text($color: $color);

  }

}

@mixin cardTranslateY {
  transform: translateY(-10px);

}

:host {
  @include flex($alignItems: center, $justifyContent: center);
  @include dimension(auto, 100dvw);
  @include margin(null, 80px 0px);

}


.about-me {
  @include flex($alignItems: center, $justifyContent: center, $gap: 90px 180px);
  @include dimension(auto, auto);

  .about-me__title {
    @include flex($alignItems: center, $justifyContent: center, $gap: 10px 20px, $wrap: wrap);
    @include text($fontSize: 2.8em, $fontWeight: 600, $lineHeight: 1.2);

    .about-me__icon {
      @include gradient($type: linear, $values: (135deg, #333, #111));
      @include flex($inline: true, $alignItems: center, $justifyContent: center);
      @include dimension(90px, 90px);
      @include text($fontSize: 0.9em);
      @include rounded-full;
      @include margin(right, 10px);

    }

    & span.about-me__highlight {
      @include highlightColor;

    }

  }

  .about-me__text {
    @include margin(top, 45px);
    @include text($color: #9ca3af, $fontSize: 1.2em, $fontWeight: 500, $lineHeight: 1.6, $textAlign: justify, $wrap: auto);

    span {
      @include bg(#ffffff0d);
      @include text($color: white, $fontWeight: 600);
      @include padding(null, 2px 6px);
      @include rounded(4px);

    }

  }

  .about-me__techs {
    @include grid($templates: (columns: repeat(auto-fill, minmax(130px, 1fr))), $align: null, $justify: (items: center), $gap: 15px 30px);
    @include dimension(auto, 100%);
    @include margin(top, 30px);

    .about-me__tech {
      @include flex($alignItems: center, $justifyContent: center);
      @include dimension(100%, 100%);
      @include padding(null, 10px 0px);
      @include border(null, 2px solid #27272a);
      @include rounded(6px);
      @include pointer;
      @include transition(all .3s ease);

    }

  }

}

.about-me__container-info {
  @include bg(#0f0f13);
  @include flex($flexDirection: column, $alignItems: center);
  @include dimension(auto, clamp(380px, 80%, 750px));
  @include padding(null, 60px 30px);
  @include rounded(20px);

}

// Technologies - colors

.html {
  @include hoverSkill($colorHtml);

}

.css {
  @include hoverSkill($colorCss);

}

.sass {
  @include hoverSkill($colorSass);

}

.tailwind {
  @include hoverSkill($colorTailwind);

}

.angular {
  @include hoverSkill($colorAngular);

}

.nodejs {
  @include hoverSkill($colorNodeJS);

}

.redis {
  @include hoverSkill($colorRedis);

}

.mongodb {
  @include hoverSkill($colorMongoDB);

}
