@let lang = translocoService.getActiveLang();

<section [ngClass]="'about-me'">
  <div [ngClass]="'about-me__container-info'">
    <h1 [ngClass]="'about-me__title'">
      <span [ngClass]="'about-me__icon'">
        👨‍💻
      </span>
      <span>
        {{ "features.about-me.title-not-highlighted-about-me" | transloco }}
        <span [ngClass]="'about-me__highlight'">{{ "features.about-me.title-highlighted-about-me" | transloco }}</span>

      </span>

    </h1>


      <p [ngClass]="'about-me__text'">
        @if (lang === "pt-BR") {
          Sou um desenvolvedor <span>Fullstack Junior</span> apaixonado por transformar ideias em soluções eficientes e visualmente atraentes. No front-end, domino <span>HTML5</span>, <span>CSS3</span>, <span>Sass</span> e <span>Tailwind</span> para criar interfaces modernas, e uso <span>Vite</span> para acelerar o desenvolvimento. Meu ecossistema principal é o <span>Angular</span>, onde construo aplicações responsivas e centradas no usuário. No back-end, desenvolvo APIs robustas com <span>NodeJS</span>, integro sistemas de cache com <span>Redis</span> e gerencio bancos de dados escaláveis como <span>MongoDB</span> e <span>PostgreSQL</span>. Para garantir qualidade, aplico testes com <span>Jest</span> e <span>Vitest</span>, containerizo ambientes com <span>Docker</span> e utilizo <span>Bun</span> como runtime moderno para maior performance.

        }

        @else {
          I'm a <span>Fullstack Junior</span> developer passionate about turning ideas into efficient and visually appealing solutions. On the front-end, I master <span>HTML5</span>, <span>CSS3</span>, <span>Sass</span>, and <span>Tailwind</span> to craft modern interfaces, using <span>Vite</span> to speed up development. My main ecosystem is <span>Angular</span>, where I build responsive, user-centric applications. On the back-end, I develop robust APIs with <span>NodeJS</span>, integrate caching systems with <span>Redis</span>, and manage scalable databases like <span>MongoDB</span> and <span>PostgreSQL</span>. To ensure quality, I run tests with <span>Jest</span> and <span>Vitest</span>, containerize environments with <span>Docker</span>, and leverage <span>Bun</span> as a modern runtime for better performance.

        }

      </p>

    <ul [ngClass]="'about-me__techs'">
      @for (t of techs; track $index) {
        <li [ngClass]="'about-me__tech ' + t.styleClass">{{ t.tech }}</li>

      }

    </ul>

  </div>

</section>
