@let lang = translocoService.getActiveLang();

<section [ngClass]="'about-me'">
  <div [ngClass]="'about-me__container-info'">
    <h1 [ngClass]="'about-me__title'">
      <span [ngClass]="'about-me__icon'">
        👨‍💻
      </span>
      <span>
        {{ "features.about-me.title-not-highlighted-about-me" | transloco }}
        <span [ngClass]="'about-me__highlight'">{{ "features.about-me.title-highlighted-about-me" | transloco }}</span>

      </span>

    </h1>


      <p [ngClass]="'about-me__text'">
        @if (lang === "pt-BR") {
          Sou um desenvolvedor <span>Fullstack Junior</span> focado em criar soluções eficientes e visualmente atraentes. No front-end, trabalho com as tecnologias <span>HTML5</span>, <span>CSS3</span>, <span>Sass</span>, <span>Tailwind</span> e <span>Vite</span>. Meu principal foco é no ecossistema <span>Angular</span>, onde crio aplicações responsivas e focadas no cliente. No back-end, construo APIs com <span>NodeJS</span>, integrando sistemas de cache com <span>Redis</span> e bancos de dados escaláveis como <span>MongoDB</span> e <span>PostgreSQL</span>.

        }

        @else {
          I'm a <span>Fullstack Junior</span> developer focused on creating efficient and visually appealing solutions. On the front-end, I work with <span>HTML5</span>, <span>CSS3</span>, <span>Sass</span>, <span>Tailwind</span> and <span>Vite</span> technologies. My main focus is on the <span>Angular</span> ecosystem, where I create responsive, customer-focused applications. On the backend, I build APIs with <span>NodeJS</span>, integrating caching systems with <span>Redis</span> and scalable databases like <span>MongoDB</span> and <span>PostgreSQL</span>.

        }

      </p>

    <ul [ngClass]="'about-me__techs'">
      @for (t of techs; track $index) {
        <li [ngClass]="'about-me__tech ' + t.styleClass">{{ t.tech }}</li>

      }

    </ul>

  </div>

</section>
