@let options = [ "Início", "Sobre mim", "Projetos", "Contatos", "Sobre o projeto" ];

@let XS = responsive.isXs();
@let SM = responsive.isSm();
@let LG = responsive.isLg();
@let XL = responsive.isXl();

<header
  [ngClass]="'header'"
  [ngStyle]="{
    'padding': (LG || XL) ? '0px 30px' : '0px 20px'

  }"

  >
  <div [ngClass]="'header__icon'">
    <fa-icon [icon]="faCode"></fa-icon>

  </div>

  @if (XS || SM) {
    <div [ngClass]="'header__highlight'">
      <span [ngClass]="'header__name'">Ryan Soares</span>
      <span [ngClass]="'header__role'">Fullstack Developer</span>

    </div>

    <div [ngClass]="'header__bars'" (click)="void toggleMenu()">
      <div [ngClass]="'header__bar'"></div>
      <div [ngClass]="'header__bar'"></div>
      <div [ngClass]="'header__bar'"></div>

    </div>

  }
  @else {
   <nav [ngClass]="'header__navigation'">
      <ul [ngClass]="'header__options'">
        @for (opt of options; track $index) {
          <li [ngClass]="'header__option'">{{ opt }}</li>

        }

      </ul>

    </nav>

    <div [ngClass]="'header__image'">
      <img [src]="profileImage" [alt]="'foto de perfil'">

    </div>

  }

</header>

@if (isOpenMenu()) {
  <nav [ngClass]="'header__navigation header__menu'" animate.enter="menu-open" animate.leave="menu-close">
    <ul [ngClass]="'header__options'">
      @for (opt of options; track $index) {
        <li [ngClass]="'header__option'">{{ opt }}</li>

      }

    </ul>

  </nav>

}
