@use "../../utils/styles/utils.scss" as *;
@use "sass:list";

@keyframes openMenu {
  from {
    transform: translateY(-188px);

  }
  to {
    transform: translateY(0px);

  }

}

@keyframes closeMenu {
  from {
    transform: translateY(0px);

  }
  to {
    transform: translateY(-188px);

  }

}

:host {
  @include dimension(120px, 100dvw);
  @include block;

}

.header {
  @include globalBackground;
  @include position(relative);
  @include flex($flexDirection: row, $alignItems: center, $justifyContent: space-between);
  @include dimension(100%, 100%);
  @include border(bottom, 1px solid #292929);
  @include z(10);

  .header__icon {
    @include text($fontSize: 2em, $fontWeight: 500);

  }

}

.header__bars {
  @include dimension(25px, 40px);
  @include flex($flexDirection: column, $alignItems: flex-end, $justifyContent: space-between);
  @include pointer;

  & .header__bar {
    @include rounded(20px);
    @include bg(white);

    $bar-widths: 95%, 80%, 60%;
    @for $i from 1 through list.length($bar-widths) {
      &:nth-child(#{$i}) {
        @include dimension(4px, list.nth($bar-widths, $i));

      }

    }

  }

}

.header__highlight {
  @include flex($flexDirection: column, $alignItems: center, $justifyContent: center);
  @include text($textAlign: center);

  .header__name {
    @include text($fontSize: 1.3em, $fontWeight: 800);

  }

  .header__role {
    @include text($fontSize: 1em, $fontWeight: 600);
    opacity: 0.7;

  }

}

.header__navigation {
  @include dimension(auto, 500px);

  .header__options {
    @include flex($flexDirection: row, $alignItems: flex-start, $justifyContent: space-between);

    .header__option {
      @include text($fontSize: 1.1em, $fontWeight: 500);
      @include pointer;

    }

  }

}

.header__menu {
  @include globalBackground;
  @include dimension(auto, 100%);
  @include margin(top, 15px);
  @include position(relative);
  @include border(bottom, 1px solid #292929);

  .header__options {
    @include flex($flexDirection: column, $alignItems: center, $justifyContent: space-between);
    @include dimension(172px, auto);
    @include padding(bottom, 20px);

  }

}

.menu-open {
  animation: openMenu 0.5s ease;

}

.menu-close {
  animation: closeMenu 0.5s ease;

}

.header__image {
  @include dimension(80px, 80px);
  @include border(null, 2px solid white);
  @include padding(null, 4px);
  @include pointer;

  &, img {
    @include rounded-full;

  }

  img {
    @include dimension(100%, 100%);

  }

}
