@use "../../utils/styles/utils.scss" as *;

:host {
  @include dimension(calc(100dvh - 120px), 100dvw);
  @include flex($flexDirection: row, $alignItems: center, $justifyContent: center, $gap: 50px);
  @include padding(top, 120px);

}

.home {
  @include dimension(auto, auto);
  @include padding(null, 0px 50px);

  .home__title {
    & span {
      @include highlightColor;

    }

  }

  .home__text {
    @include dimension(auto, (prefix: max, pvalue: 500px, value: 100%));
    @include text($textAlign: center, $fontSize: 1em, $fontWeight: 500);
    @include softColor;
    @include margin(top, 30px);

  }

}

.home__title-desktop-size {
  @include text($textAlign: center, $fontSize: 2.8em, $fontWeight: 600, $lineHeight: 1.2);

}

.home__title-mobile-size {
  @include text($textAlign: center, $fontSize: 2.2em, $fontWeight: 600, $lineHeight: 1.2);

}
