@use "../../styles/utils.scss" as *;
@use "../../styles/code.scss" as *;

.container-loader {
  @include flex($alignItems: center, $justifyContent: center);
  @include dimension(100%, 100%);
  @include bg(white);

}

.container-loader__wrapper {
  @include dimension(100%, 100%);
  @include position(relative);
  @include flex($flexDirection: column, $alignItems: center, $justifyContent: center);

}

.container-loader__logo {
  @include position(absolute, $top: calc(50% - 50px), $left: calc(50% - 50px));
  @include dimension(100px, 100px);
  @include opacity(0);
  @include transform(scale(0));
  @include z(50);

}

.container-loader__html-logo {
  @include animation-list(
    (
    spawn 0.8s ease-out forwards,
    moveToTopLeft 1.5s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.5s forwards

    )
  );

}

.container-loader__tailwind-logo {
  @include animation-list(
    (
      spawn 0.8s ease-out 4s forwards,
      moveToTopRight 1.5s cubic-bezier(0.68, -0.55, 0.26, 1.55) 5.5s forwards

    )

  );

}

.container-loader__download-wrapper {
  @include dimension(null, 100%);
  @include position(relative);
  @include flex($flexDirection: column, $alignItems: center);
  @include opacity(0);
  @include animation-list((fadeIn 0.5s forwards 3s));

}

.container-loader__text-container {
  @include fontCode;
  @include position(relative);
  @include flex($alignItems: center, $justifyContent: center);
  @include margin(bottom, 0);
  @include animation-list((spacingUpgrade 0.5s forwards 7s));

}

.container-loader__status-text {
  @include text($color: black, $fontSize: 16px);
  @include animation-list(
    (
      textStyleUpgrade 0.5s forwards 7s,
      fadeOut 0.3s forwards 9.5s

    )

  );

}

.container-loader__dots {
  @include inline-block;
  @include dimension(null, 0);
  @include overflow(null, hidden);
  @include animation-list((dotsAnim 1.5s steps(4, end) 7s infinite));
  vertical-align: bottom;

}

.container-loader__success-message {
  @include position(absolute);
  @include text($color: #059669, $fontSize: 1.4rem, $fontWeight: 600, $whiteSpace: nowrap);
  @include opacity(0);
  @include transform(translateY(10px));
  @include animation-list((showSuccess 0.5s forwards 9.8s));

}

.container-loader__progress-area {
  @include position(relative);
  @include flex($alignItems: center, $justifyContent: center);
  @include dimension(null, 100%);

}

.container-loader__progress-container {
  @include dimension(18px, 200px);
  @include bg(white);
  @include border(null, 1px solid #767676);
  @include overflow(null, hidden);
  @include rounded(0px);
  @include animation-list((barStyleUpgrade 0.5s forwards 7s));

}

.container-loader__progress-fill {
  @include dimension(100%, 0%);
  @include bg(#767676);
  @include position(relative);
  @include animation-list(
    (
      fillStyleUpgrade 0.1s forwards 7s,
      fillProgress 3s ease-in-out 7s forwards

    )

  );

}

.container-loader__progress-fill::before {
  content: "";
  @include position(absolute, $top: 0, $left: 0, $right: 0, $bottom: 0);
  @include gradient($type: linear, $values: (
    90deg,
    transparent 0%,
    #ffffff4d 50%,
    transparent 100%

  ));
  background-size: 200% 100%;
  @include opacity(0);
  @include animation-list((shine 2s infinite linear 7s forwards));

}

.container-loader__percentage {
  @include position(absolute, $left: calc(50% + 150px));
  @include text($color: black, $fontSize: 14px);
  @include opacity(0);
  @include animation-list(
    (
      fadeIn 0.5s forwards 2.7s,
      percentMoveUpgrade 0.5s forwards 7s,
      textStyleUpgrade 0.5s forwards 7s

    )

  );

}

.container-loader__percentage::after {
  counter-reset: num var(--num);
  content: counter(num) "%";
  @include animation-list((countProgress 3s linear 7s forwards));

}
