<header [ngClass]="'code-box-header'">
  <div [ngClass]="'code-box-tabs'">
    @for (tab of tabs(); track $index) {
      <p
      [ngClass]="{
        'code-box-tab': true,
        'selected-tab': ($index === selectedFileIndex)

      }"
      (click)="void changeFile($index)"

      >{{ tab }}</p>

    }

  </div>

</header>

<main [ngClass]="'code-box-main'">
  <pre>
    @let code = boxes()[selectedFileIndex];

    @if (typeof code === "object") {
      @for (ct of getCodeToken(code); track $index) {
        <code (click)="selectedLineIndex = $index">
          @for (token of ct; track $index) {
            <span [ngClass]="'code-text ' + token.styleClass">{{ token.token }}</span>

          }
          @if ($index == selectedLineIndex) {
            <span [ngClass]="'cursor'"></span>
            <span [ngClass]="'selected-line'"></span>

          }

        </code>

      }

    }

    @else {
      @switch (boxName()) {
        @case ("button") {
          <app-output-button [ngClass]="'output'" [html]="code"></app-output-button>

        }

        @case ("loader") {
          <app-output-loader [ngClass]="'output'" [html]="code"></app-output-loader>

        }

        @case ("reactiveInput") {
          <app-output-reactive-input [ngClass]="'output'" [html]="code"></app-output-reactive-input>

        }

        @case ("tasks") {
          <app-output-tasks [ngClass]="'output'" [html]="code"></app-output-tasks>

        }

        @case ("users") {
          <app-output-users [ngClass]="'output'" [html]="code"></app-output-users>

        }

      }

    }

  </pre>

</main>
