@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;

}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  min-height: 50px;
  min-width: 40px;

}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;

}

body {
  background: #131417;
  font-family: "Rubik", sans-serif;

}
