@use "sass:map";
@use "./app/utils/styles/utils.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  @include margin(null, 0px);
  @include padding(null, 0px);
  box-sizing: border-box;

}

::-webkit-scrollbar {
  @include dimension(10px, 7px);

}

::-webkit-scrollbar-thumb {
  @include dimension((prefix: min, value: 50px), (prefix: min, value: 40px));
  @include bg(#888);
  @include rounded(5px);

}

html, body {
  @include dimension(100dvh, 100dvw);
  @include overflow(x, clip);
  scroll-behavior: smooth;

}

body {
  @include globalBackground;
  @include text($family: ("Rubik", sans-serif));

}

ul {
  list-style: none;

}

a {
  text-decoration: none;

}
