<section [ngClass]="'projects'">
  <div [ngClass]="'projects__header'">
    <h1 [ngClass]="'projects__title'">
      Meus <span>Projetos</span>

    </h1>

    <p [ngClass]="'projects__text'">Alguns dos trabalhos que desenvolvi utilizando tecnologias modernas.</p>

  </div>

  <ul [ngClass]="'projects__cards'">
    @for (project of projects; track project.id) {
      <li [ngClass]="'projects__card'">
        <div [ngClass]="'projects__card-image'">
          <img [ngSrc]="project.urlImage" fill [alt]="project.title">

        </div>

        <div [ngClass]="'projects__card-info'">
          <h3 [ngClass]="'projects__card-title'">
            {{ project.title }}

          </h3>

          <p [ngClass]="'projects__card-text'">
            {{ project.description }}

          </p>
          <div [ngClass]="'projects__card-tech'">
            @for (tech of project.techs; track $index) {
              <span>{{ tech }}</span>

            }

          </div>

        </div>
        <div [ngClass]="'projects__card-buttons'">
          <a [ngClass]="'button-view'" [href]="project.linkView" [target]="'_blank'">Demo</a>
          <a [ngClass]="'button-repo'" [href]="project.linkRepo" [target]="'_blank'">GitHub</a>

        </div>

      </li>

    }

  </ul>

</section>
