@use "../../styles/utils.scss" as *;

:host {
  @include block;
  @include dimension(100%, 100%);
  @include bg(white);
  @include text($color: black, $fontSize: 1.2em, $fontWeight: 500);

}

.container__users {
  @include flex($flexDirection: column, $alignItems: center);
  @include bg(white);
  @include dimension(100%, 100%);
  @include margin(bottom, 30px);

}

.container__users-form {
  @include flex($flexDirection: column, $gap: 10px);
  @include margin(bottom, 30px);
  @include bg(white);
  @include padding(null, 20px);
  @include rounded(8px);

}

input {
  @include padding(null, 10px);
  @include border(null, 1px solid #ddd);
  @include rounded(4px);

}

.container__users-btn-save {
  @include bg(#28a745);
  @include text($color: white, $fontWeight: 600);
  @include border(null, none);
  @include padding(null, 10px);
  @include rounded(4px);
  @include pointer;

}

.container__users-user-list {
  @include flex($flexDirection: column, $alignItems: center);

  div {
    @include flex($flexDirection: column);
    @include margin(null, 20px);

  }

}

.container__users-btn-delete {
  @include bg(#dc3545);
  @include text(null, white, null, 0.8em);
  @include border(null, none);
  @include padding(null, 5px 10px);
  @include rounded(4px);
  @include pointer;

  &:hover {
    @include bg(#c82333);

  }

}

.container__users-form-title, .container__users-list-title {
  @include text($color: #333);
  @include border(left, 5px solid #007bff);
  @include padding(left, 10px);

}
