@use "./utils.scss" as *;
@use "../animations/animations.scss" as *;

// colors
$-colorSoft: #0f0f13;
$-colorCode: #0b0b0e;
$-colorBorder: #1f1f27;
$-colorTitleHeader: #9ca3af;
$-colorSelectedTitleHeader: #61afef1a;

/* token colors */
$-tokenAt: #56b6c2;
$-tokenTypeFunction: #61afef;
$-tokenString: #98c379;
$-tokenHtmlProperty: #d19a66;
$-tokenIdentifier: #e06c75;
$-tokenKeyword: #c678dd;

// fonts
$-fontCode: ("Fira Code", monospace);

@mixin bgSoft {
  @include bg($-colorSoft);

}

@mixin bgCode {
  @include bg($-colorCode);

}

@mixin outlineCode {
  outline: 1px solid $-colorBorder;
  @include rounded(15px);

}

@mixin fontCode {
  @include text($family: $-fontCode);

}

@mixin headerCodeBox {
  $directions: ((top, right), (top, left));
  @include text($color: $-colorTitleHeader, $fontSize: 0.9em);
  @include border(bottom, 1px solid $-colorBorder);
  @include rounded(14px, $directions);

}

@mixin selectedTitleHeader {
  @include bg($-colorSelectedTitleHeader);
  @include rounded(10px);

}

@mixin textCode {
  @include text($fontSize: 0.9em, $textAlign: start, $wrap: auto);

}

@mixin scrollbar {
  @include overflow(null, auto);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;

  }

}

@mixin blinkingAnimation {
  @include animation($name: blinkingCursor, $duration: .8s, $count: infinite);

}

/* --------------------------------------------- Token Colors Utilities --------------------------------------------- */
@mixin colorTokenAt {
  @include text($color: $-tokenAt);

}

@mixin colorTypeFunction {
  @include text($color: $-tokenTypeFunction);

}

@mixin colorTokenString {
  @include text($color: $-tokenString);

}

@mixin colorTokenHtmlProperty {
  @include text($color: $-tokenHtmlProperty);

}

@mixin colorTokenIdentifier {
  @include text($color: $-tokenIdentifier);

}

@mixin colorTokenKeyword {
  @include text($color: $-tokenKeyword);

}
