@use "sass:map";
@use "./styles.scss" as *;

$globalFont: var(--font-inter);
$globalBg: #070B18;
$globalColor: #DDE4F0;

$globalConfigs: (
  "*": (
    "box-sizing": border-box,
    "margin": 0px,
    "padding": 0px

  ),
  "body": (
    "font-family": $globalFont,
    "min-height": 100dvh,
    "width": 100dvw,
    "background-color": $globalBg,
    "color": $globalColor,
    "display": flex,
    "flex-direction": column,
    "overflow-x": hidden

  ),
  "ul": (
    "list-style": none

  ),
  "a": (
    "text-decoration": none

  ),
  "button": (
    "background-color": transparent,
    "color": white,
    "border": none

  )

);

@mixin registerFonts($fonts) {
  body {
    @each $name, $font in $fonts {
      --font-#{$name}: #{$font};

    }

  }

}

@mixin configureGlobalStyles {
  @each $el, $styles in $globalConfigs {
    #{$el} {
      @each $prop, $value in $styles {
        #{$prop}: $value;

      }

    }

  }

}

@keyframes slide {
  from {
    @include opacity(0);
    @include translate((0px, 20px));

  }

  to {
    @include opacity(1);
    @include translate(0px);

  }

}
