@use "sass:map";
@use "sass:meta";
@use "sass:list";

$-border-circle: calc(Infinity * 1px);

@function normalize-dimension($input) {
  @if meta.type-of($input) == map {
    @if not map.has-key($input, value) {
      @error "Map requires the key 'value'";

    }
    $value: map.get($input, value);
    $pvalue: if(map.has-key($input, pvalue), map.get($input, pvalue), $value);

    @return (
      prefix: map.get($input, prefix),
      pvalue: $pvalue,
      value: $value

    );

  }

  @return (
    prefix: null,
    value: $input

  );

}

@mixin dimension($height: 100%, $width: 100%) {
  $properties: (
    height: normalize-dimension($height),
    width: normalize-dimension($width)

  );

  @each $prop, $config in $properties {
    $prefix: map.get($config, prefix);
    $value: map.get($config, value);
    $pvalue: map.get($config, pvalue);

    #{$prop}: $value;

    @if $prefix {
      #{$prefix}-#{$prop}: $pvalue;

    }

  }

}

@mixin globalBackground {
  background-color: #060607;

}

@mixin bg($background) {
  background-color: $background;

}

@mixin highlightColor {
  color: #38bdf8;

}

@mixin softColor {
  color: #9ca3af;

}

@mixin margin($direction: null, $values) {
  @if $direction {
    margin-#{$direction}: $values;

  }

  @else {
    margin: $values;

  }

}

@mixin padding($direction: null, $values) {
  @if $direction {
    padding-#{$direction}: $values;

  }

  @else {
    padding: $values;

  }

}

@mixin border($direction: null, $values) {
  @if $direction {
    border-#{$direction}: $values;

  }

  @else {
    border: $values;

  }

}


@mixin rounded($radius, $directions: null) {
  @if $directions {
    @each $direction in $directions {
      $d1: list.nth($direction, 1);
      $d2: list.nth($direction, 2);

      border-#{$d1}-#{$d2}-radius: $radius;

    }

  }
  @else {
    border-radius: $radius;

  }

}

@mixin rounded-full {
  border-radius: $-border-circle;

}

@mixin position($position: relative, $args...) {
  position: $position;

  @each $prop, $value in meta.keywords($args) {
    #{$prop}: $value

  }

}

@mixin block {
  display: block;

}

@mixin flex($flexDirection: row, $alignItems: flex-start, $justifyContent: flex-start, $gap: 0px, $wrap: nowrap) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-wrap: $wrap;
  gap: $gap;

}

@mixin self($prop, $value) {
  #{$prop}-self: $value;

}

@mixin text($family: null, $color: white, $textAlign: null, $fontSize: null, $fontWeight: 500, $lineHeight: null, $wrap: null) {
  @if $family {
    font-family: $family;

  }
  @if $textAlign {
    text-align: $textAlign;

  }

  @if $lineHeight {
    line-height: $lineHeight;

  }

  @if $wrap {
    text-wrap: $wrap;

  }
  @if $fontSize {
    font-size: $fontSize;

  }

  color: $color;
  font-weight: $fontWeight;

}

@mixin pointer {
  cursor: pointer;

}

@mixin z($index) {
  z-index: $index;

}
