@use "sass:map";
@use "sass:meta";
@use "sass:list";
@use "../animations/animations.scss" as *;

$-border-circle: calc(Infinity * 1px);

@function normalize-dimension($input) {
  @if meta.type-of($input) == map {
    @if not map.has-key($input, value) {
      @error "Map requires the key 'value'";

    }
    $value: map.get($input, value);
    $pvalue: if(map.has-key($input, pvalue), map.get($input, pvalue), $value);

    @return (
      prefix: map.get($input, prefix),
      pvalue: $pvalue,
      value: $value

    );

  }

  @return (
    prefix: null,
    value: $input

  );

}

@mixin dimension($height: 100%, $width: 100%) {
  $properties: (
    height: normalize-dimension($height),
    width: normalize-dimension($width)

  );

  @each $prop, $config in $properties {
    $prefix: map.get($config, prefix);
    $value: map.get($config, value);
    $pvalue: map.get($config, pvalue);

    @if $value {
      #{$prop}: $value;

    }

    @if $prefix {
      #{$prefix}-#{$prop}: $pvalue;

    }

  }

}

@mixin globalBackground {
  background-color: #060607;

}

@mixin bg($background) {
  background-color: $background;

}

@mixin gradient($type, $values, $important: false) {
  @if $important {
    background-image: #{$type}-gradient($values) !important;

  }

  @else {
    background-image: #{$type}-gradient($values);

  }

}

@mixin highlightColor {
  color: #38bdf8;

}

@mixin softColor {
  color: #9ca3af;

}

@mixin margin($direction: null, $values) {
  @if $direction {
    margin-#{$direction}: $values;

  }

  @else {
    margin: $values;

  }

}

@mixin padding($direction: null, $values) {
  @if $direction {
    padding-#{$direction}: $values;

  }

  @else {
    padding: $values;

  }

}

@mixin border($direction: null, $values) {
  @if $direction {
    border-#{$direction}: $values;

  }

  @else {
    border: $values;

  }

}

@mixin outline($value) {
  outline: $value;

}

@mixin rounded($radius, $directions: null) {
  @if $directions {
    @each $direction in $directions {
      $d1: list.nth($direction, 1);
      $d2: list.nth($direction, 2);

      border-#{$d1}-#{$d2}-radius: $radius;

    }

  }
  @else {
    border-radius: $radius;

  }

}

@mixin rounded-full {
  border-radius: $-border-circle;

}

@mixin position($position: relative, $args...) {
  position: $position;

  @each $prop, $value in meta.keywords($args) {
    #{$prop}: $value

  }

}

@mixin block {
  display: block;

}

@mixin inline-block {
  display: inline-block;

}

@mixin flex($inline: false, $flexDirection: row, $alignItems: flex-start, $justifyContent: flex-start, $gap: 0px, $wrap: nowrap) {
  @if $inline {
    display: inline-flex;

  }
  @else {
    display: flex;

  }

  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-wrap: $wrap;
  gap: $gap;

}

@mixin grid($templates, $align, $justify, $gap: 0px 0px) {
  display: grid;

  @if $templates {
    @each $prop, $value in $templates {
      grid-template-#{$prop}: $value

    }

  }

  @if $align {
    @each $prop, $value in $align {
      align-#{$prop}: $value

    }

  }

  @if $justify {
    @each $prop, $value in $justify {
      justify-#{$prop}: $value

    }

  }

  @if $gap {
    gap: $gap;

  }

}

@mixin self($prop, $value) {
  #{$prop}-self: $value;

}

@mixin text($family: null, $color: white, $textAlign: null, $fontSize: null, $fontWeight: 500, $lineHeight: null, $wrap: null, $whiteSpace: null) {
  @if $family {
    font-family: $family;

  }
  @if $textAlign {
    text-align: $textAlign;

  }

  @if $lineHeight {
    line-height: $lineHeight;

  }

  @if $wrap {
    text-wrap: $wrap;

  }
  @if $fontSize {
    font-size: $fontSize;

  }
  @if $whiteSpace {
    white-space: $whiteSpace;

  }

  color: $color;
  font-weight: $fontWeight;

}

@mixin overflow-wrap($value: break-word) {
  overflow-wrap: $value;

}

@mixin shadow($value) {
  box-shadow: $value;

}

@mixin pointer {
  cursor: pointer;

}

@mixin cursor($value: null) {
  @if $value {
    cursor: $value;

  }

  @else {
    cursor: default;

  }

}

@mixin opacity($value) {
  opacity: $value;

}

@mixin overflow($axis: null, $value) {
  @if $axis {
    overflow-#{$axis}: $value;

  }
  @else {
    overflow: $value;

  }

}

@mixin pointer-events($value) {
  pointer-events: $value;

}

@mixin transform($value) {
  transform: $value;

}

@mixin keyframe-transform($opacity: null, $scale: null) {
  @if $opacity {
    opacity: $opacity;
  }

  @if $scale {
    transform: scale($scale);

  }

}

@mixin translate($values, $important: false) {
  @if ($important) {
    transform: translate($values) !important;

  }

  @else {
    transform: translate($values);

  }


}

@mixin transition($value) {
  transition: $value;

}

@mixin animation-list($value) {
  animation: $value;

}

@mixin animation(
  $name,
  $duration: 500ms,
  $timing: ease,
  $delay: 0ms,
  $count: 1,
  $direction: normal,
  $fill: both,
  $state: running

) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-delay: $delay;
  animation-iteration-count: $count;
  animation-direction: $direction;
  animation-fill-mode: $fill;
  animation-play-state: $state;

}

@mixin z($index) {
  z-index: $index;

}
